canvas {
  position: absolute;
  top: 0;
  left: 0;
}

p {
  margin: 0 0;
  position: absolute;
  font: 16px Verdana;
  color: #eee;
  height: 25px;
  top: calc(100vh - 30px);
  text-shadow: 0 0 2px white;
}

p a {
  text-decoration: none;
  color: #aaa;
}

span {
  font-size: 11px;
}

p>a:first-of-type {
  font-size: 20px;
}

body {
  overflow: hidden;
}
.btnbg{
  position: absolute;
  display: flex;
justify-content: center;
width: 100%;
height: 100%;
align-items: flex-end;
overflow: hidden;
}
a{
  margin-bottom: 50px;
  background: #3C7AFF;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  border: #fff 1px solid;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  display: flex;
  box-shadow: -2px -2px 5px #000000 inset, 2px 2px 5px #FFFFFF inset;
}